/.wordpress-org export-ignore
/.git export-ignore
/.github export-ignore
/node_modules export-ignore
/blocks/ad-group-block/node_modules export-ignore
/blocks/ad-group-block/.git export-ignore
/blocks/ad-group-block/.gitignore export-ignore
/blocks/ad-group-block/.editorconfig export-ignore

.gitignore export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.DS_Store export-ignore
.browserslistrc export-ignore
*.zip export-ignore